---
import Layout from '../../layouts/Layout.astro';
import H1 from '../../components/typography/H1.astro';
---

<Layout title="Codility Lessons" description="Some exercises from Codility">
    <H1>Codility Lessons</H1>
    <h2>1. Start</h2>
    <ul>
        <li><a href="/codility/01-binary-gap">BinaryGap</a></li>
    </ul>
    <h2>2. Arrays</h2>
    <ul>
        <li><a href="02-Arrays/CyclicRotation.html">CyclicRotation</a></li>
        <li><a href="02-Arrays/OddOccurrencesInArray.html">OddOccurrencesInArray</a></li>
    </ul>
</Layout>