---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
    <h1>Codility Lessons</h1>
    <h2>1. Start</h2>
    <ul>
        <li><a href="/codility/01-binary-gap">BinaryGap</a></li>
    </ul>
    <h2>2. Arrays</h2>
    <ul>
        <li><a href="02-Arrays/CyclicRotation.html">CyclicRotation</a></li>
        <li><a href="02-Arrays/OddOccurrencesInArray.html">OddOccurrencesInArray</a></li>
    </ul>
</Layout>