---
import { getCollection } from "astro:content";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import Layout from "../../layouts/Layout.astro";
import { formatLocaleDate } from "../../utils/date";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const frontmatter = entry.data;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <Breadcrumbs />
  <h1 class="mt-6 text-4xl font-bold leading-tight text-stone-950 md:text-5xl dark:text-stone-50">
    {frontmatter.title}
  </h1>
  <h2 class="mt-2 flex gap-2 text-sm tracking-wide text-gray-800 dark:text-stone-50">
    {formatLocaleDate(frontmatter.date as Date)}
  </h2>
  <div
    class="prose prose-stone mt-10 dark:prose-invert prose-h1:text-xl prose-h1:font-bold prose-p:text-justify prose-img:rounded-xl"
  >
    <Content />
  </div>
</Layout>
