---
import Tags from "../../../components/Tags.astro";
import Layout from "../../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("codility");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
---

<Layout title={pageTitle} description="Tag Index">
  <h1>{pageTitle}</h1>
  <Tags tags={tags} withAll />
</Layout>
