---
import Layout from "../layouts/Layout.astro";
import H1 from "../components/typography/H1.astro";
import CodilityPosts from "../components/client/CodilityPosts";
import type { MarkdownInstance } from "astro";

interface Frontmatter {
  section: string;
  title: string;
  description?: string;
}

const allPosts = await Astro.glob<Frontmatter>("../pages/codility/*.md");

const sections = allPosts.reduce<Record<string, Array<MarkdownInstance<Frontmatter>>>>(
  (acc, post) => {
    const section = post.frontmatter.section;
    if (!(section in acc)) {
      acc[section] = [];
    }
    acc[section].push(post);
    return acc;
  },
  {}
);
---

<Layout
  title="Javascript Solutions to Codility Lessons"
  description="Javascript Solutions to Codility challenges"
>
  <H1>Javascript Solutions to Codility challenges</H1>

  <CodilityPosts posts={allPosts} sections={sections} client:load />
</Layout>
