---
import Layout from '../layouts/Layout.astro';
import H1 from '../components/typography/H1.astro';
---

<Layout title="Main Landing page" description="Intro and navigation to other pages">
	<main class="bg-white flex flex-col flex-1 items-center justify-center">
		<article class="prose lg:prose-x">
			<H1>Welcome to my landing page</H1>
			<p>
				This is just an experiment, don't mind me
			</p>
		</article>
	</main>
</Layout>

<style>
</style>
