---
const pathname = Astro.url.pathname;

// Function to split the pathname and create breadcrumb segments
const createBreadcrumbs = (path: string) => {
  const segments = path.split("/").filter(Boolean);
  return segments.map((segment, index) => ({
    name: segment.replace(/-/g, " ").toUpperCase(),
    url: "/" + segments.slice(0, index + 1).join("/")
  }));
};

const breadcrumbs = createBreadcrumbs(pathname);
---

<nav aria-label="breadcrumbs ">
  <ol class="flex text-sm tracking-wider">
    {
      breadcrumbs.map((breadcrumb, index) => (
        <li>
          {index === breadcrumbs.length - 1 ? (
            <span class="font-medium text-stone-700 dark:text-stone-400">{breadcrumb.name}</span>
          ) : (
            <a
              href={breadcrumb.url}
              class={
                "font-medium text-lime-600 hover:text-lime-700 dark:text-lime-400 hover:dark:text-lime-200"
              }
            >
              {breadcrumb.name}
            </a>
          )}
          {index !== breadcrumbs.length - 1 && <span class="mx-2">/</span>}
        </li>
      ))
    }
  </ol>
</nav>
