---
import clsx from "clsx";

const { difficulty } = Astro.props;
---

<p
  class={clsx("text-sm font-semibold uppercase tracking-widest ", {
    "text-lime-600 dark:text-lime-200": difficulty === "Easy",
    "text-amber-600 dark:text-amber-200": difficulty === "Medium",
    "text-rose-600 dark:text-red-200": difficulty === "Hard"
  })}
>
  {difficulty}
</p>
