---

---

<div class="grid grid-cols-2 gap-4">
  <div class="text-sm p-10 dark:bg-gray-800 rounded-md">
    <h4>CSS</h4>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique sequi inventore quas
      doloremque odit nemo itaque consequatur, praesentium tempora nam eos exercitationem amet minima
      consequuntur at, cupiditate porro perferendis eaque quia repudiandae velit maxime quidem beatae!
      laudantium iure!
    </p>
    <img src="http://unsplash.it/100/100" class="align-left slide-in slide-in-css float-left" />
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique sequi inventore quas
      doloremque odit nemo itaque consequatur, praesentium tempora nam eos exercitationem amet minima
      consequuntur at, cupiditate porro perferendis eaque quia repudiandae velit maxime quidem beatae!
      laudantium iure!
    </p>
    <img src="http://unsplash.it/100/100" class="align-right slide-in slide-in-css float-right" />
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique sequi inventore quas
      doloremque odit nemo itaque consequatur, praesentium tempora nam eos exercitationem amet minima
      consequuntur at, cupiditate porro perferendis eaque quia repudiandae velit maxime quidem beatae!
      laudantium iure!
    </p>
  </div>

<div class="text-sm p-10 dark:bg-gray-800 rounded-md">
  <h4>JS</h4>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique sequi inventore quas
    doloremque odit nemo itaque consequatur, praesentium tempora nam eos exercitationem amet minima
    consequuntur at, cupiditate porro perferendis eaque quia repudiandae velit maxime quidem beatae!
    laudantium iure!
  </p>
  <img src="http://unsplash.it/100/100" class="align-left slide-in slide-in-js float-left" />
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique sequi inventore quas
    doloremque odit nemo itaque consequatur, praesentium tempora nam eos exercitationem amet minima
    consequuntur at, cupiditate porro perferendis eaque quia repudiandae velit maxime quidem beatae!
    laudantium iure!
  </p>
  <img src="http://unsplash.it/100/100" class="align-right slide-in slide-in-js float-right" />
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique sequi inventore quas
    doloremque odit nemo itaque consequatur, praesentium tempora nam eos exercitationem amet minima
    consequuntur at, cupiditate porro perferendis eaque quia repudiandae velit maxime quidem beatae!
    laudantium iure!
  </p>
</div>
</div>

<style>
.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

.slide-in {
  opacity: 0;
  transition: all .5s;
}

.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
}

.slide-in-css {
  /* Create View Timeline */
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;

  /* Attach animation, linked to the  View Timeline */
  animation: ease-in-out reveal both;
  animation-timeline: --revealing-image;

  /* Tweak range when effect should run*/
  animation-range: entry 25% cover 30%;
}

</style>


<script>
  function debounce(func, wait = 20, immediate = true) {
    var timeout;
    return function() {
      var context = this, args = arguments;
      var later = function() {
        timeout = null;
        if (!immediate) func.apply(context, args);
      };
      var callNow = immediate && !timeout;
      clearTimeout(timeout);
      timeout = setTimeout(later, wait);
      if (callNow) func.apply(context, args);
    };
  };

  const sliderImages = document.querySelectorAll('.slide-in-js');

  function checkSlide() {
    sliderImages.forEach(sliderImage => {
      // half way through the image
      const slideInAt = (window.scrollY + window.innerHeight) - sliderImage.height / 2;
      // bottom of the image
      const imageBottom = sliderImage.offsetTop + sliderImage.height;
      const isHalfShown = slideInAt > sliderImage.offsetTop;
      const isNotScrolledPast = window.scrollY < imageBottom;
      if (isHalfShown && isNotScrolledPast) {
        sliderImage.classList.add('active');
      } else {
        sliderImage.classList.remove('active');
      }
    });
  }

  window.addEventListener('scroll', debounce(checkSlide));

</script>
