---
import Layout from "../layouts/Layout.astro";

import type { CollectionEntry } from "astro:content";
import Card from "../components/codility/Card.astro";
import Tags from "../components/codility/Tags.astro";
import { sortCodility } from "../utils/sortCodility";

interface Props {
  posts: Array<CollectionEntry<"codility">>;
  tags: string[];
}

const { posts, tags } = Astro.props;
---

<Layout
  title="Javascript Solutions to Codility Lessons"
  description="Javascript Solutions to Codility challenges"
>
  <h1 class="text-balance text-center text-4xl font-bold leading-tight dark:text-stone-50">
    Javascript Solutions to Codility challenges
  </h1>

  <!-- <CodilityPosts posts={allPosts} sections={sections} client:load /> -->

  <div class="my-8 flex flex-wrap items-center justify-center gap-2">
    <Tags tags={tags} withAll />
  </div>

  <section class="mt-4 grid grid-cols-1 gap-6 md:grid-cols-3">
    {posts.sort(sortCodility).map((post) => <Card {...post.data} url={`/codility/${post.slug}`} />)}
  </section>
</Layout>
