---
import ThemeIcon from "../components/ThemeIcon.astro";
---

<header class="fixed top-0 z-50 w-full bg-white text-stone-950 dark:bg-black dark:text-white">
  <nav>
    <div
      class="mx-auto flex max-w-screen-lg flex-wrap items-center gap-8 p-4 font-medium md:justify-between"
    >
      <a href="/">Home</a>
      <div class="flex w-auto grow justify-between gap-8 md:grow-0">
        <ul class="mt-0 flex items-center gap-8 p-0">
          <li>
            <a href="/codility" class="block" aria-current="page">Codility</a>
          </li>
          <li>
            <a href="/resources" class="block" aria-current="page">Resources</a>
          </li>
        </ul>
        <ThemeIcon />
      </div>
    </div>
  </nav>
</header>
