---
import ThemeIcon from "../components/ThemeIcon.astro";

const pages = [
  { name: "Blog", link: "/blog" },
  { name: "Codility", link: "/codility" },
  { name: "Resources", link: "/resources" }
];
---

<header class="fixed top-0 z-50 w-full bg-white text-stone-950 dark:bg-black dark:text-white">
  <nav>
    <div
      class="mx-auto flex max-w-screen-lg flex-wrap items-center gap-4 p-4 font-medium sm:gap-8 md:justify-between"
    >
      <a href="/" class="block hover:text-lime-600 dark:hover:text-lime-400">Home</a>
      <div class="flex w-auto grow justify-between gap-4 sm:gap-8 md:grow-0">
        <ul class="mt-0 flex items-center gap-4 p-0 sm:gap-8">
          {
            pages.map((link) => (
              <li>
                <a href={link.link} class="block0 hover:text-lime-600 dark:hover:text-lime-400">
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
        <ThemeIcon />
      </div>
    </div>
  </nav>
</header>
