---
import { ViewTransitions } from "astro:transitions";
import Header from "./Header.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- 
      TODO: Update this once the issue gets resolved on Atro side. It is one of the most-voted discussions in the roadmap for Astro to not force 'unsafe-inline' 
      in Content Security Policy gets resolved. More details can be found at:
      https://github.com/withastro/roadmap/discussions/377#discussioncomment-8132446 
    -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; img-src 'self' unsplash.it fastly.picsum.photos picsum.photos; script-src 'self' flackr.github.io 'unsafe-inline'; style-src 'self' 'unsafe-inline';"
    />
    <script src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"></script>
    <title>{title}</title>
    <ViewTransitions />

    <script>
      const webComponentsCSS = await import.meta.glob("../web-components/**/*.css", {
        eager: true
      });
      const webComponentsJS = await import.meta.glob("../web-components/**/*.js", { eager: true });
    </script>
  </head>
  <body class="min-h-screen text-stone-950 antialiased dark:bg-black dark:text-white">
    <Header />
    <main class="m-auto flex min-h-screen max-w-screen-lg flex-1 flex-col p-4 pt-20">
      <slot />
    </main>
  </body>
</html>
